* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #000080, #ccc);
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head {
  text-align: center;
  color: #000080;
  line-height: 3rem;
}

.head h3 {
  color: #332;
}

.login-container {
  width: 330px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.login-form {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background-color: #fff;
}

.login-form input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s;
}

.login-form input:focus, .login-form input:hover {
  border-color: #0000ff;
}

.login-form button {
  width: 100%;
  height: 40px;
  background: linear-gradient(130deg, #0080ef, #000080);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #008;
}

.links {
  display: block;
  justify-content: space-between;
  margin-top: 10px;
  text-align: center;
}

.forgot-password, .sign-up {
  text-decoration: none;
  color: #333;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}
